
.bg-lgrey {
  background-color: lightgrey;
}

.file-upload {
  position: relative;
  overflow: hidden;
}

.file-upload input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

.top-middle td {
  vertical-align: middle;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px !important;
    border-radius: 15px !important;
    text-align: 'center';
    font-size: 12px !important;
    line-height: 1.42857 !important;
}

.quickorder-qty .css_quantity input[name="add_qty"] {
  max-width: 60px !important;
}
