
.bg-lgrey {
  background-color: lightgrey;
}

.file-upload {
  position: relative;
  overflow: hidden;
}

.file-upload input {
  position: absolute;
  font-size: 50px;
  opacity: 0;
  right: 0;
  top: 0;
}

.top-middle td {
  vertical-align: middle;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
